* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.right-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 20px;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-top: 10%;
    margin-left: 10%;
}

.nav {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 20px;
}


li {
    list-style-type: none;
    margin-bottom: 5%;
}

.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.main-content {
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
    gap: 10px;
}

.projects>h3 {
    grid-column: 1 / -1;
}

.project {
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: #F0B429 5px solid;
    padding: 10px;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.project-icons {
    grid-row-start: 2;
    justify-self: end;
    align-self: end;
}

svg {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.right-sidebar {
    display: grid;
    gap: 20px;
}

.announcements,
.trending {
    display: grid;
    gap: 10px;
}