* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: 'Roboto';
}

.right-container {
    display: grid;
    grid-template-rows: 1.5fr 5fr;
    gap: 20px;
    padding-top: 2%;
}

.sidebar {
    display: grid;
    padding-top: 10%;
    padding-left: 10%;
    background-color: #1992D4;
    color: white;
}


li {
    list-style-type: none;
    margin-bottom: 5%;
}

.header {
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding-left: 3%;
    padding-right: 4%;
}



.search-items input {
    width: 75%;
    height: 50%;
    border-radius: 20px;
    background-color: #E2E8F0;
    border: none;
    padding: 10px;

}

.notif {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3%;
}

.header-links {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    gap: 30px;
}

.header-links button {
    flex-basis: auto;
    padding: 10px 30px;
    background-color: #1992D4;
    color: white;
    border-radius: 20px;
    border: none;

}

.profile-icon-large {
    display: flex;
}

.profile-icon-large img {
    display: inline;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.notif img {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


button {
    flex: 0 1 100%;
    gap: 40px;
}


.main-content {
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    background-color: #E2E8F0;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
    row-gap: 15px;
    column-gap: 10px;

}

.projects>h3 {
    grid-column: 1 / -1;
}

.project {
    height: 180px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: #F0B429 5px solid;
    padding: 10px;
    display: grid;
    grid-template-rows: 5fr 1fr;
    background-color: white;
    padding: 10px;
}

.project-icons {
    grid-row-start: 2;
    justify-self: end;
    align-self: end;
}

svg {
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.right-sidebar {
    display: grid;
    gap: 20px;
}

.announcements,
.trending {
    display: grid;
    gap: 10px;
}